<style>
.cook {
  background-color: antiquewhite;
}
.modalbox {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0px;
  z-index: 1;
  font-size: 14px;
}
.wb6 {
  width: 60%;
}
</style>
<div class="cook">
  <div class="container">
    <div class="modalbox row">
      <div class="col-lg-9">
        <i class="bi bi-exclamation-octagon" style="font-size: 20px;"></i>
          Ao continuar a usar este site, você concorda com o uso de cookies, a menos que os tenha desativado. Tenha em mente que desativar os cookies na sua máquina ou dispositivo pode impedir que partes do nosso site funcionem corretamente. <a href="/textosp/Politica-de-Privacidade-/12/" style="color: #0017CF;text-decoration: underline;">Saiba mais sobre nossa Política de cookies.</a>
      </div>
      <div class="col-lg-3">
        <form method="post" enctype="multipart/form-data">
          <input name="cookiem" type="submit" value="Continuar" class="form-control">
        </form>
      </div>
    </div>
  </div>
</div>
