<%= render partial: 'partials/header' %>
<%= render partial: 'partials/carousel' %>
<div class="container">
  <h3><%= settings.site_title %></h3>
  <h5>SOBRE NÓS<h5>
  <p>Desde 1992 atuando com leilões em território nacional, Especializado na avaliação e venda de ativos físicos por meio de leilões oficiais presenciais e via internet simultaneamente.</p>
  <p>Possuímos equipe especializada para atender todos os setores do mercado de leilões como  avaliadores, engenheiros de diversas modalidades (civil, mecânico, elétrico/eletrônico e naval) e departamento jurídico contando com Advogados especialista em  (cível, internacional público e privado, comercial) para realizar leilões de bancos, seguradoras, Ciretrans, usinas, empresas públicas e privadas e demais comitentes .</p>
  <p>Nossa equipe atua oferecendo todo suporte para realização de médios e grandes eventos, com toda estrutura e sistemas operacionais que fornecem aos compradores informações precisas dos bens a serem leiloados, além de um eficiente serviço de pós-venda, atuando com despachantes e cartórios, proporcionando maior segurança às operações.</p>
  <p>Você compra e vende máquinas e equipamentos industriais, sucatas, máquinas pesadas, veículos, caminhões e imóveis. Somos especializados na gestão da venda de ativos, conectando compradores e vendedores em um ambiente seguro, abrangente e transparente.</p>
  <p>Nossa Equipe é representada por leiloeiros oficiais que detém uma vasta experiência e credibilidade no ramo de leilões. Realiza com muito empenho, serviços de alienação de ativos para empresas de diversos segmentos.</p>
  <p>Dispomos de excelente estrutura administrativa e logística, escritório e auditório para realização de leilões on-line e presenciais, com todo material necessário para transmissão dos pregões, ex: computadores modernos, equipamentos de som, foto, vídeo, púlpito, microfone e telões.</p>
  <p>Com nossa atuação voltada para venda em leilões oficiais de bens como: imóveis e móveis, veículos leves e pesados, máquinas e equipamentos, obras de arte, tratores, sucata entre outros, de forma transparente, com a rapidez e qualidade que o mercado exige dos pregões públicos.</p>
</div>
<%= render partial: 'partials/footer' %>