<style>

.bg-custom{
      background-color:#130f40;
      z-index: 2;
      }
      .button-fixed{
      bottom: 0;
      position: fixed;
      right: 0;
      border-radius: 4px;
      }
      .fas{
      cursor: pointer;
      font-size: 24px;
      }
      p{
      font-size: 14px;
      }
</style>
<div class="row">
  <div class="col-md-4 col-sm-12 button-fixed">
    <div class="p-3 pb-4 bg-custom text-white">
      <div class="row">
        <div class="col-10">
          <h2>Aceitar Cookies</h2>
        </div>
        <div class="col-2 text-center">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <p>Ao continuar a usar este site, você concorda com o uso de cookies, a menos que os tenha desativado. Tenha em mente que desativar os cookies na sua máquina ou dispositivo pode impedir que partes do nosso site funcionem corretamente. <a href="/textosp/Politica-de-Privacidade-/12/" style="color: #0017CF;text-decoration: underline;">Saiba mais sobre nossa Política de cookies.</p>
      <button type="button" class="btn btn-danger w-100">Accept Cookies</button>
    </div>
  </div>
</div>
