<%= render partial: 'partials/header' %>
<%= render partial: 'partials/carousel' %>
<div class="container">
  <div class="centerr pt40 pb40">
  <div class="fz24 fwb ttu">Perguntas Frequentes<div class="w100 h5 bdw3 bdb_153C89"></div></div>
  <div class="pt30 pb40">
  <div class="editor taj"><div>
  <ul>
  </ul>
  </div>
  <div>
  <ul>
  <li><strong><span style="font-size:18px">1 O que é a Habilitação?</span></strong></li>
  </ul>
  <strong><span style="font-size:18px">​</span></strong></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <p style="text-align:justify"><span style="color:#000000"><span style="font-family:verdana,sans-serif; font-size:14px">Somente estará HABILITADO a participar dos leilões o&nbsp;usuário que tiver o seu CADASTRO validado por nossa equipe. Estar cadastrado em nosso “site” <strong>não significa </strong>que o interessado possa participar dos leilões “on-line”.</span></span></p>
  </div>
  <div><span style="color:#000000"><span style="background-color:transparent; font-family:verdana,sans-serif; font-size:14px">Ao estar HABILITADO o usuário&nbsp;concorda com todas as condições estabelecidas para&nbsp;concorrer nos leilões. Atenção, cada leilão possui regras e condições específicas.</span></span></div>
  <div>&nbsp;</div>
  <div>​Para que sua HABILITAÇÂO saia mais rápidamente, não esqueça de&nbsp;anexar no “site” os documentos abaixo descritos ou envie os para nosso e-mail de atendimento&nbsp;<span style="color:#000000"><span style="background-color:transparent; font-family:verdana,sans-serif; font-size:14px">tendo como assunto o número do CPF ou CNPJ.</span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><strong><span style="font-size:18px">2 O que é valor mí­nimo de venda?</span></strong></li>
  </ul>
  <strong><span style="font-size:18px">​</span></strong></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Valor mínimo de venda</strong><span style="color:rgb(85, 85, 85)">&nbsp;é o menor preço definido pelo judiciário ou pelo comitente para que um lote seja considerado vendido. Se esse valor não for atingido pelos lances, o leiloeiro poderá aceitar um lance condicional (no caso de leilão extrajudicial)</span><span style="color:rgb(85, 85, 85)">,&nbsp;</span><strong>o qual ficará sujeito a aprovação da empresa vendedora</strong><span style="color:rgb(85, 85, 85)">. No caso de lance condicional, a vendedora terá um prazo máximo para responder se aceita ou não o maior lance. Esse prazo está definido nos <em>Termos de </em></span><em>Condições de Venda e Pagamento do Leilão.</em></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><strong><span style="font-size:18px">3 Arrematei um lote. Como efetuar o pagamento?</span></strong></li>
  </ul>
  <strong><span style="font-size:18px">​</span></strong></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Nos casos de leilões judiciais o pagamento deverá ser feito por meio de guia Judicial emitida pelo portal do TJPA/Guias, dentro de 24h após encerramento do leilão, <span style="background-color:transparent">conforme determinação do Juiz competente, de acordo com o artigo 895 do NCPC, Lei 13.105/2015. N</span>o caso dos bens leiloados em outros Estados as guias serão geradas diretamente pelo site do Banco do Brasil.</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="background-color:transparent; font-family:verdana,geneva,sans-serif; font-size:14px">Para os leilões extrajudiciais ou venda direta o</span><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"> pagamento deverá ser feito à vista ou parcelado, conforme informações no edital, de acordo com os <em>Termos de Condição de Venda e Pagamento.</em></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>4 Como eu faço para realizar um Leilão para minha Empresa?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Basta entrar em contato com nossa equipe através da opção "Quero Vender". Atendemos pessoas jurídicas e físicas.&nbsp;</span></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>5 Como faço meu cadastro?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:rgb(85, 85, 85); font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Para participar dos leilões&nbsp;você deverá efetuar o seu cadastro.&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Para preencher seu cadastro:</strong><span style="color:rgb(85, 85, 85)">&nbsp;Clique no link "cadastre-se". Escolha uma das seguintes opções: cadastro de pessoa física ou cadastro de pessoa jurídica. Preencha os campos corretamente e depois leia com atenção os Termos de Uso</span>.<span style="color:rgb(85, 85, 85)">&nbsp;O usuário deverá preencher todos os campos do formulário de forma clara e precisa. Ao final, cadastrar um login e uma senha que tenha de 6 a 10 caracteres, em seguida clicar no botão CONFIRMAR.&nbsp;</span><strong>Pronto!</strong></span></span><span style="color:rgb(85, 85, 85); font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Após essa etapa seu cadastro será encaminhado à Central de Atendimento. Seus dados serão validados e verificados pelos órgãos de proteção ao crédito, com o único objetivo de verificar a veracidade das informações prestadas, ou seja, certificar o cadastro. Você também deverá nos enviar cópia dos seguintes documentos:</span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><span style="color:rgb(51, 51, 51)">• </span><strong>Para Pessoa Física:</strong><span style="color:rgb(85, 85, 85)"> RG, CPF ou CNH e comprovante de residência atualizado.</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="color:rgb(51, 51, 51)">• </span><strong>Pessoa Jurídica:</strong><span style="color:rgb(85, 85, 85); font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"> </span></span></span><span style="color:rgb(51, 51, 51)">Contrato social ou ata de eleição de diretoria, estatuto social e cartão do CNPJ, bem como a documentação dos representantes legais da empresa (RG e CPF ou CNH) e prova de representação (ex.: procuração/ata de eleição). </span><span style="font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Termo de utilização do site preenchido e assinado pelo sócio, com a primeira página rubricada (a assinatura deve ser igual à do documento de identificação apresentado).&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-family:verdana,geneva,sans-serif"><span style="font-size:14px">O prazo para liberação do seu cadastro será de até 48 (quarenta e oito) horas após o recebimento de todos os documentos, desde que estejam corretos.</span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>6 Como funciona um leilão?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Quem realiza o leilão?</strong></span></span><span style="font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">&nbsp;</span></span></span></span></div>
  </div>
  <div>&nbsp;</div>
  <div><span style="color:#000000"><span style="font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Um leiloeiro devidamente inscrito nos órgãos que regulamentam a atividade, em data, hora e local divulgado na mídia, sejam jornais de grande circulação ou mídias como: Google, Facebook, Twiter, Rádios</span></span></span><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">. O leilão poderá ser eletrônico, presencial ou misto.&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Como podem ser ofertados os lances?</strong></span></span><span style="font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Presencialmente ou via web pelo nosso portal.</span></span><span style="color:#000000"><span style="font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">&nbsp;Os lances são recebidos em tempo real e em igualdade de condições.&nbsp;</span></span></span><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"> </span></span></span></div>
  <div>&nbsp;</div>
  <div><strong><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Posso acompanhar o leilão pelo site?</span></span></strong><span style="font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Sim. Você pode acompanhar o andamento do leilão, bem como acompanhar em detalhes todos lances ofertados, valores, etc.&nbsp;</span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Para acompanhar o leilão, preciso estar cadastrado?</strong>&nbsp;</span></span></div>
  <div>&nbsp;</div>
  <div>Não. O leilão é público. Então basta entrar no site, escolher o leilão de seu interesse e acompanhar. Um dos nossos pilares é a transparência total.<br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>​7 Como habilitar-se para dar lances?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Após a liberação do seu cadastro, preencha seus dados de acesso, localize o leilão de interesse e clique na opção&nbsp;<strong>"Habilite-se"</strong>.&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div>Será enviado para seu e-mail cadastrado o Edital do leilão, aceitando as condições de venda o seu login será liberado para lances automaticamente, exceto em leilões restritos. É de extrema importância ler o Edital antes de aceitar, pois para cada leilão existem condições de venda específicas.</div>
  <div>&nbsp;</div>
  <div>​Todos os lances são recebidos em tempo real e em igualdade de condições.</div>
  <div>&nbsp;</div>
  <div>Fazer esse procedimento é muito simples! Outra opção é entrar em nosso site, e fazer seu login e selecionar o leilão que você deseja participar. Na própia página que contém a lista de lotes você encontrará a opção "como participar" e "habilite-se".<br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>8 Não paguei o lote. Serei penalizado?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Quando você deixa de pagar por um bem arrematado (além da comissão do leiloeiro e dos encargos de administração),&nbsp;<strong>isso é considerado desistência ou arrependimento.</strong>&nbsp;Você ficará sujeito a pagar o valor a título de comissão ao leiloeiro e os valores da multa ou reembolso das despesas do executor do leilão.&nbsp;</span></span></span></div>
  </div>
  <div>&nbsp;</div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Veja o que pode acontecer:</strong>&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div>O leiloeiro pode emitir um título de crédito para cobrar esses valores. Essa cobrança será encaminhada a protesto, se for o caso (sem prejuízo da execução prevista no artigo 39, do Decreto número 21.981/32). O leiloeiro pode solicitar que seus dados sejam enviados aos órgãos de proteção ao crédito. Neste caso, você não poderá mais participar de leilões&nbsp;e seu cadastro ficará bloqueado. Se houver outros cadastros vinculados ao seu, eles serão bloqueados também.&nbsp;</div>
  <div>&nbsp;</div>
  <div><strong>Atenção </strong>​<em>leia as condições de venda e pagamento de cada leilão.&nbsp;</em></div>
  <div>&nbsp;</div>
  <div><strong>No caso de leilão Judicial, o lance efetuado e não pago será notificado ao Juízo competente que tomará as medidas cabíveis, tanto na esfera Cível quanto Penal</strong>.<br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>9 Nota de Venda do Leiloeiro?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Acesse a área "sua conta" e insira o seu login e senha. Sua nota de arrematação estará lá, disponível para impressão.&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div><strong>Atenção:</strong> a nota ficará disponível a partir de 8 (oito) dias úteis da data de confirmação do pagamento de cada lote ou da confirmação do pagamento do repasse a comitente. Você receberá um e-mail avisando sobre a disponibilidade da nota.&nbsp;</div>
  <div>&nbsp;</div>
  <div><strong>Para imprimir sua nota:&nbsp;</strong></div>
  </div>
  <div>&nbsp;</div>
  <div>
  <ol>
  </ol>
  </div>
  <div>
  <ul>
  <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Clique em <strong>"sua conta"</strong>.&nbsp;</span></span></span></li>
  </ul>
  </div>
  <div>
  <ul>
  <li style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Digite seu login e senha e acesse o item <strong>"suas compras"</strong>.&nbsp;</span></span></span></li>
  </ul>
  </div>
  <div>
  <div><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Esta nota é a do produto que eu comprei?</strong>&nbsp;</span></span></span></div>
  <div>&nbsp;</div>
  <div>Não, esta nota não tem efeito fiscal, referente-se somente à comissão paga ao Leiloeiro. Constam da nota também a descrição e preço do bem adquirido, porém sem efeito fiscal.<br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>10 O Leilão já encerrou, posso fazer proposta?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">É possível, a critério do vendedor do lote. Veja como funciona! É permitido o envio de propostas somente para os lotes que não tiveram lances.</span></span></span></div>
  <div>&nbsp;</div>
  <div>Acesse a relação completa de lotes e veja se o lote de seu interesse está aberto a novas propostas. Clique em "Fazer Proposta"<strong> </strong>ou entre em contato conosco.</div>
  <div>&nbsp;</div>
  <div><strong>Atenção</strong> não serão analisadas propostas inferiores ao valor inicial do lote.<br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>11 O que é incremento mí­nimo?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">É o valor mínimo que será somado ao lance anteriormente ofertado. Esse valor é definido pelo leiloeiro e pode ser alterado por ele no decorrer do leilão. O interessado no lote não pode ofertar mais do que o incremento mínimo,&nbsp;cada lance tem de respeitar o incremento mínimo para ofertar um novo lance.&nbsp;<strong>Fique atento!</strong></span></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>12 O que é lance condicional?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Lance condicional</strong>&nbsp;é o lance cujo valor, inferior ao preço mínimo de venda definido para o bem, pode ser recebido, a critério do leiloeiro, e submetido à análise da empresa vendedora para aprovação ou rejeição. Os lances condicionais serão válidos pelo prazo determinado nos <em>Termos de Condições de Venda e Pagamento do Leilão</em>.</span></span></span></div>
  <div>&nbsp;</div>
  <div><strong>Procedimento:</strong></div>
  <div>&nbsp;</div>
  <div><span style="background-color:transparent">O valor do lance será analisado pelo vendedor. Se o vendedor aprovar o valor do lance condicional</span><span style="background-color:transparent">, o pagamento deve ser efetuado dentro do prazo previsto </span><span style="background-color:transparent">nos </span><em>Termos de Condições de Venda e Pagamento do Leilão</em><span style="background-color:transparent; font-family:arial,helvetica,sans-serif; font-size:12px"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">.</span></span></span></div>
  <div>&nbsp;</div>
  <div><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">&nbsp;</span></span><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Atenção</strong> c<span style="background-color:transparent">aso o vendedor não aceite a venda do lote pelo preço ofertado, o lance será desconsiderado pelo leiloeiro.</span></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>13 O que é um lote?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif"><strong>Lote</strong>&nbsp;é um bem ou conjunto, que vai ser apregoado no leilão. Confira a descrição detalhada que aparece em cada lote e fique atento as informações complementares, onde você poderá ver outras informações.</span></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>14 Quem pode participar do leilão?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">O leilão é público. Ou seja,&nbsp;<strong>qualquer pessoa física que tenha capacidade civil ou jurídica pode participar</strong>. Basta se cadastrar e concordar com as regras estabelecidas nos <em>Termos de Condições de Venda e Pagamento do Leilão</em>.</span></span></span><br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>15 Quem pode vender nos leilões?</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Nós podemos vender em leilão os bens pertencentes a pessoas físicas ou jurídicas, como: empresas de pequeno, médio e grande porte, nacional ou multinacional.</span></span></span></div>
  <div>&nbsp;</div>
  <div>Existem algumas exceções para pessoas físicas, tal como produtores agrícolas. Consulte-nos informando seu contato e um resumo do que quer vender que entraremos em contato em até 24 horas.<br>
  &nbsp;</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div>
  <ul>
  <li><span style="font-size:18px"><strong>16 Visão Geral sobre Leilão Oficial</strong></span></li>
  </ul>
  <span style="font-size:18px"><strong>​</strong></span></div>
  <div>
  <div>
  <div>
  <div>
  <div>
  <div style="text-align:justify"><span style="color:#000000"><span style="font-size:14px"><span style="font-family:verdana,geneva,sans-serif">Todo leilão é público e qualquer pessoa Física ou Jurídica pode participar dos leilões.</span></span></span></div>
  <div>&nbsp;</div>
  <div>O Leiloeiro Oficial é registrado na Junta Comercial de seu Estado, é mandatário e tem fé pública. Sua profissão é regulamentada pelo Decreto Lei 22427 de 01/02/1933.&nbsp;</div>
  <div>&nbsp;</div>
  <div>O LEILÃO É A FORMA MAIS TRANSPARENTE DE VENDER! Em um determinado dia, horário e local previamente marcados, onde qualquer pessoa pode comparecer.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Através de leilões, diversas empresas como Bancos, Financeiras e Seguradoras vendem seus bens diariamente, exceto domingos e feriados.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Para cada leilão existe um regulamento; com prazos estipulados para pagamento e retirada do bem arrematado, a qual chamamos de EDITAL.</div>
  <div>&nbsp;</div>
  <div>Os bens são vendidos no estado em que se encontram. Normalmente, os valores de venda estão abaixo do valor de mercado.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Sobre o valor de todo lote arrematado é cobrado 5% (cinco por cento) de comissão do Leiloeiro.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Antes de dar seu lance é importante...</div>
  <div>&nbsp;</div>
  <div>a) Vistoriar o bem pretendido.&nbsp;</div>
  <div>b) Esclarecer todas as dúvidas com a equipe do leiloeiro.&nbsp;</div>
  <div>c) Anotar o número do lote de seu interresse.</div>
  <div>d) Estar ciente das condições de venda e pagamento.</div>
  <div>&nbsp;</div>
  <div>No dia do leilão...</div>
  <div>&nbsp;</div>
  <div>a) Quando um lote de seu interesse estiver sendo apregoado, lance em viva voz, através de sinais ou solicite auxílio de algum funcionário.</div>
  <div>b) Se o seu lance for o vencedor será solicitado no ato seus dados e cheque caução, portanto tenha em mãos seus documentos e talão de cheques.</div>
  <div>&nbsp;</div>
  <div>Dou-lhe 1, dou-lhe 2, dou-lhe 3...</div>
  <div>&nbsp;</div>
  <div>a) Forneça os dados que serão solicitados.&nbsp;</div>
  <div>b) Cumpra o prazo de pagamento estipulado no catálogo de bens.&nbsp;</div>
  <div>c) Retire o bem arrematado nos dias determinados.&nbsp;</div>
  <div>d) Faça contato com nosso escritório para retirar a documentação do bem.</div>
  <div>&nbsp;</div>
  <div>Porque vender em Leilão Oficial?</div>
  <div>&nbsp;</div>
  <div>Os leiloeiros possuem cadastro de compradores em potencial para envio de Mala Direta, e equipes especializadas responsáveis pela organização, montagem, divulgação, acompanhamento e tudo mais que se fizer necessário para a realização do evento.&nbsp;</div>
  <div>&nbsp;</div>
  <div>A empresa vendedora deverá fornecer a relação dos bens, acertar através de contrato com o leiloeiro todas as cláusulas a serem cumpridas e os custos para realizar o leilão.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Através do leilão é possivel, reunir todos os interessados em adquirir os bens em um único dia e horário, evitando assim, que a empresa vendedora desloque seus profissionais de suas atividades normais para demonstrar os bens disponíveis para venda.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Todo leilão é publicado em jornais de circulação diária, normalmente abrangendo todo o território estadual, o que torna o leilão um ato público e a forma mais transparente de vender.&nbsp;</div>
  <div>&nbsp;</div>
  <div>Se sua empresa possui: Imóveis, Máquinas, Sucatas, Veículos, Móveis, Objetos de Arte, Equipamentos de Informática. "VOCÊ PODE VENDER EM LEILÃO". Para maiores informações, entre em contato conosco!</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> <div class="h10 clear"></div>
  </div>
  </div>

</div>
<%= render partial: 'partials/footer' %>