/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require configs
 *= require header
 *= require footer
 *= require_self
 */
 @import "variables";

 .btn {
  text-transform: uppercase;
  font-size: .9em;
 }

.carousel-box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.m0l {
  margin: 30px;
}

.title-container {
  overflow: hidden;
  border-bottom: 1px solid $secondary-color;
  margin: 0px 0 25px;
}

.title-container .lo-title-destaque {
  display: table;
  padding: 5px 15px 3px;
  text-transform: uppercase;
  color: #fff;
  background: $secondary-color;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  margin: 0;
}
.title-container .lo-title-destaque:before {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 21px;
  height: 100%;
  background: $secondary-color;
  transform: skew(28deg);
}
.title-container .lo-title-destaque:after {
  content: '';
  position: absolute;
  right: -23px;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 100%;
  background: $secondary-color;
  transform: skew(28deg);
}
 
