@import "variables";

#footer {
  background-color: $primary-color;
  color: white;
  font-size: 14px;

  .disclaimer {
    margin: 20px 0px 0px;
    text-align: center;
    font-size: 13px;
  }

  .nav-link {
    color: inherit;
  }
}