#footer {
  background-image: linear-gradient(to bottom, #b80d0d, #3e0000);border-top:5px solid #525252;
  color: white;
  font-size: 14px;

  .disclaimer {
    margin: 20px 0px 0px;
    text-align: center;
    font-size: 13px;
  }

  .nav-link {
    color: inherit;
  }
}