<main class="admin-layout">
  <aside class="admin-sidebar">
    <div class="head d-flex justify-content-center align-items-center">
      <a href="/" class="d-flex text-decoration-none">
        <%= image_tag 'reward-logo.png', style: 'height: 70px;' %>
      </a>
    </div>
    <div class="menu">
      <%= render partial: 'partials/admins/menu-list' %>
    </div>
  </aside>
  <div class="admin-container">
    <div class="admin-header"></div>
    <div class="admin-content">
      <div class="container"></div>
    </div>
  </div>
</main>
